In [ ]:
""" Q1. What is a database? Differentiate between SQL and NoSQL databases.

Answer--> The Database is an essential part of our life. As we encounter several activities that involve our interaction
with databases, for example in the bank, in the railway station, in school, in a grocery store, etc. These are the
instances where we need to store a large amount of data in one place and fetch these data easily. 


Difference between SQL abd NoSQL--->

1)Type – SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as
non-relational or distributed database. 

2)Language – SQL databases defines and manipulates data based structured query language (SQL). Seeing from a side this language
is extremely powerful. SQL is one of the most versatile and widely-used options available which makes it a safe choice especially 
for great complex queries. But from other side it can be restrictive. SQL requires you to use predefined schemas to determine the
structure of your data before you work with it. Also all of your data must follow the same structure. This can require significant 
up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system.
A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, 
column-oriented, graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having 
defined structure first. Also each document can have its own unique structure. The syntax varies from database to database, and we
can add fields as you go. 


3)Scalability – In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a 
single server by increasing things like RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means
that you handle more traffic by sharding, or adding more servers in your NoSQL database. It is similar to adding more floors to the same
building versus adding more buildings to the neighborhood. Thus NoSQL can ultimately become larger and more powerful, making these 
databases the preferred choice for large or ever-changing data sets.

4)Structure – SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph 
databases or wide-column stores. This makes relational SQL databases a better option for applications that require multi-row 
transactions such as an accounting system or for legacy systems that were built for a relational structure. 

5)Property followed – SQL databases follow ACID properties (Atomicity, Consistency, Isolation and Durability) whereas the NoSQL database
follows the Brewers CAP theorem (Consistency, Availability and Partition tolerance). 


6)Support – Great support is available for all SQL database from their vendors. Also a lot of independent consultations are there who 
can help  with SQL database for a very large scale deployments but for some NoSQL database we still have to rely on community 
support and only limited outside experts are available for setting up and deploying your large scale NoSQL deployments. """

In [ ]:
""" Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Answer-->DDL stands for data Data Definition Language.In SQL the use of DDL is used to create,alter,drop and truncate in the relation 
which contains data.The DDL commands are auto-commited that means if we do certain operations on a table with the help of DDL then they 
will be commited automatically.

CREATE-->CREATE is a command which is used to create a DATABASE or TABLE. With the help of create we make a new table and then add the 
attributes with their data types.
example-->CREATE TABLE STUDENT(name varchar(50),roll_number int(10),address varchar(50));

ALTER-->ALTER is a command which is used to alter the table for example if we want to add or delete a new attribute in the table then
with the help of ALTER command we can add.
example--> ALTER TABLE student ADD class varchar(20);


DROP-->DROP is used to drop/delete a table.The table which we will delete with DROP command will be deleted permanentally.
example-->DROP TABLE student;


TRUNCATE-->TRUNCATE command is used the delete all the enteries from the table but the structure will exist even after the TRUNCATE command,
only empty structure will be left.
example-->TRUNCATE TABLE student;  """

In [ ]:
"""Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Answer-->DML stands for Data Manipulation Language.commands of DML are not auto commited.It includes the commands like INSERT,
UPDATE and DELETE.It is used to manipulate the data like inserting the new data in the table or update the exixting data in the table
or delete the data.

creating a table name student-->CREATE TABLE STUDENT(name varchar(50),roll_number int(10),address varchar(50));

INSERT-->INSERT comamnd is used to insert the data in the table.
example-->INSERT into student values('jai',50,'delhi');

DELETE-->DELETE command is used to delete data from the table inside the database.
wxample-->DELETE * from student;

UPDATE-->UPDATE command is used to update the data in the table.
example-->UPDATE student set roll_number=55;



"""

In [ ]:
"""Q4. What is DQL? Explain SELECT with an example.

Answer-->DQL statements are used for performing queries on the data within schema objects. The purpose of the DQL Command 
is to get some schema relation based on the query passed to it. We can define DQL as follows it is a component of SQL
statement that allows getting data from the database and imposing order upon it. It includes the SELECT statement. 
This command allows getting the data out of the database to perform operations with it. When a SELECT is fired against a 
table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the 
program i.e. a front-end.

SELECT: It is used to retrieve data from the database.

"""

In [ ]:
"""Q5. Explain Primary Key and Foreign Key.
Answer-->Primary key is column or group of column which is used to identify each record in the table.It is unique and
not null that is a primary key can not contain null value.A table can not have more than one Primary key.

Foreign key--> A foreign key is a column (or combination of columns) in a table whose values must match values of a column 
in some other table. FOREIGN KEY constraints enforce referential integrity, which essentially says that if column value 
A refers to column value B, then column value B must exist.FOREIGN KEY can be null and can contain duplicate data.

"""

In [ ]:
"""Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Answer-->import mysql.connector
        mydb=mysql.connector.connect(
        host="localhost",
        user="abc",
        password="password"
        )
        mycursor=mydb.cursor()
        
cursor() is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing
DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables.


There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors. These are explained as following below.

Implicit Cursors:-->Implicit Cursors are also known as Default Cursors of SQL SERVER. These Cursors are allocated by SQL SERVER when 
the user performs DML operations.

Explicit Cursors :-->Explicit Cursors are Created by Users whenever the user requires them. Explicit Cursors are used for
Fetching data from Table in Row-By-Row Manner.

execute() method is used to execute the commands which we want to execute on the table in the database like insert,select,create.
when we wnat to perform operations on the table then they are written in the execute method and then operations are performed.
        

"""

In [ ]:
"""Q7. Give the order of execution of SQL clauses in an SQL query.

Answer-->Order	of execution of SQL clauses are written below, the clause written top is executed prior to the one below. 
1	FROM	Tables are joined to get the base data.
2	WHERE	The base data is filtered.
3	GROUP BY	The filtered base data is grouped.
4	HAVING	The grouped base data is filtered.
5	SELECT	The final data is returned.
6	ORDER BY	The final data is sorted.
7	LIMIT	The returned data is limited to row count."""